<h1 *ngIf="city" class="ui header">{{ city }}</h1>
<div class="ui hidden divider"></div>
<div class="ui four column grid">
  <div *ngFor="let item of items | async" class="column">
    <a [routerLink]="['/items', item._id]" class="header">
      <div class="ui fluid link card">
        <div *ngIf="item.cover" class="image">
          <img [src]="item.cover">
        </div>
        <div class="content">
          <div class="header">
            {{ item.name }}
          </div>
          <div class="meta">
            <span class="date">{{ item?.created_at | date:short }}</span>
          </div>
          <div class="description">
            <p> {{ item.description | slice:0:65 }} </p>
          </div>
        </div>
        <div *ngIf="item.categories || item.occassions || item.activities" class="extra content">
          <div *ngIf="item.categories">
            <p>
              Categorias:
              <div *ngFor="let category of item.categories" class="ui basic tiny label">
                {{ category }}
              </div>
            </p>
          </div>
          <div *ngIf="item.occassions">
            <p>
              Bom para ir com...
              <div *ngFor="let occassion of item.occassions" class="ui basic tiny label">
                {{ occassion }}
              </div>
            </p>
          </div>
          <div *ngIf="item.activities">
            <p>
              Bom para...
              <div *ngFor="let activity of item.activities" class="ui basic tiny label">
                {{ activity }}
              </div>
            </p>
          </div>
        </div>
        <div class="extra content">
          <a><i class="money icon"></i> {{ item?.price | currency:'BRL':true }} </a>
        </div>
    </a>
    </div>
  </div>
</div>