{{ events | json }}
<div class="ui two column centered grid">
  <div class="column">
    <div class="ui segment">
      <h1 class="ui dividing header">Criar um evento</h1>
      <form (ngSubmit)="searchInFacebook()"  class="ui form" *ngIf="!fetchedSuccess">
        <div class="field">
          <label>Link do evento no Facebook</label>
          <div class="ui action input">
            <input type="text" [(ngModel)]="facebookLink" [ngModelOptions]="{standalone: true}">
            <button (click)="searchInFacebook()" class="ui button">Buscar</button>
          </div>
        </div>
      </form>
      <form [formGroup]="addForm" (ngSubmit)="saveItemInDB()" *ngIf="fetchedSuccess" class="ui form">
        <div class="field">
          <img class="ui fluid rounded image" [src]="cover">
        </div>
        <div class="field">
          <label>Título</label>
          <input type="text" formControlName="name">
        </div>
        <div class="field">
          <label>Descrição</label>
          <textarea type="textarea" formControlName="description"></textarea>
        </div>
        <div class="two fields">
          <div class="field">
            <label>Data de Início</label>
            <input type="date" formControlName="start_time"></input>
          </div>
          <div class="field">
            <label>Data de fim</label>
            <input type="date" formControlName="end_time"></input>
          </div>
        </div>
        <div class="field">
          <label>Nome do local</label>
          <input type="text" formControlName="place_name"></input>
        </div>
        <div class="field">
          <label>Preço</label>
          <input type="number" formControlName="price">
        </div>
        <div class="field">
          <label>Link do evento</label>
          <input type="text" formControlName="ticket_uri">
        </div>
        <button class="ui button">Salvar</button>
      </form>
    </div>
  </div>
</div>