<div class="ui three column centered grid">
  <div class="column">
    <div class="ui segment">
      <h1 class="ui dividing header">Criar um evento</h1>
      <form [formGroup]="addForm" (ngSubmit)="addItem()" class="ui form">
        <div class="field">
          <label>Título</label>
          <input type="text" formControlName="title">
        </div>
        <div class="field">
          <label>Descrição</label>
          <input type="text" formControlName="description">
        </div>
        <div class="field">
          <label>Preço</label>
          <input type="number" formControlName="price">
        </div>
        <div class="field">
          <label>Avaliação</label>
          <input type="number" formControlName="rate">
        </div>
        <button class="ui button" type="submit">Add</button>
      </form>
    </div>
  </div>
</div>