{{ events | json }}
<div class="ui centered grid">
  <div class="eight wide computer sixteen wide mobile column">
    <div class="ui segment">
      <h1 class="ui dividing header">Criar um evento</h1>
      <form (ngSubmit)="searchInFacebook()" class="ui form" *ngIf="!isWritterMode">
        <div class="field">
          <label>Link do evento no Facebook</label>
          <div class="ui action input">
            <input type="text" [(ngModel)]="facebookLink" [ngModelOptions]="{standalone: true}">
            <button (click)="searchInFacebook()" class="ui button">Buscar</button>
          </div>
        </div>
      </form>
      <div *ngIf="!isWritterMode" class="ui horizontal divider">
        Ou
      </div>
      <button (click)="activeWritterMode()" *ngIf="!isWritterMode" class="ui fluid icon action button">
        <i class="ui write icon"></i>
        Criar do zero
      </button>
      <form [formGroup]="addForm" (ngSubmit)="saveItemInDB()" *ngIf="isWritterMode || isFetchedWithSuccess" class="ui form">
        <div *ngIf="cover" class="field">
          <img class="ui fluid rounded image" [src]="cover">
        </div>
        <div class="field">
          <label>Título</label>
          <input type="text" formControlName="name">
        </div>
        <div class="field">
          <label>Descrição</label>
          <textarea type="textarea" formControlName="description"></textarea>
        </div>
        <div class="two fields">
          <div class="field">
            <label>Data de Início</label>
            <input type="date" formControlName="start_time"></input>
          </div>
          <div class="field">
            <label>Data de fim</label>
            <input type="date" formControlName="end_time"></input>
          </div>
        </div>
        <div class="field">
          <label>Nome do local</label>
          <input type="text" formControlName="place_name"></input>
        </div>
        <div class="field">
          <label>Categorias</label>
          <select class="ui categories fluid search dropdown" multiple="">
            <option value="">Categorias</option>
            <option *ngFor="let category of categories" value="{{category}}">{{ category }}</option>
          </select>
        </div>
        <div class="field">
          <label>Bom para ir com...</label>
          <select class="ui occassions fluid search dropdown" multiple="">
            <option value="">Ocasiões</option>
            <option *ngFor="let ocassion of occassions" value="{{ocassion}}">{{ ocassion }}</option>
          </select>
        </div>
        <div class="field">
          <label>Bom para...</label>
          <select class="ui activities fluid search dropdown" multiple="">
            <option value="">Atividades</option>
            <option *ngFor="let activity of activities" value="{{activity}}">{{ activity }}</option>
          </select>
        </div>
        <div class="field">
          <label>Preço</label>
          <input type="number" formControlName="price">
        </div>
        <div class="field">
          <label>Link do evento</label>
          <input type="text" formControlName="ticket_uri">
        </div>
        <button [ngClass]="{disabled: !addForm.valid }" class="ui button">Salvar</button>
      </form>
    </div>
  </div>
</div>