<div class="ui text menu">
  <a [routerLink]="['/']" class="header item">
    Villeme
  </a>
  <div class="item">
    <div class="ui icon input">
      <input type="text" #searchtext (keyup)="search(searchtext.value)" placeholder="Buscar...">
      <i class="search link icon"></i>
    </div>
  </div>
  <div class="item">
    <a [routerLink]="['/items/new']" class="item">
      Criar um evento
    </a>
  </div>
  <div class="ui right item">
    <login-buttons></login-buttons>
  </div>
</div>
<div class="ui section divider"></div>